* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-family: "Open Sans", Helvetica, sans-serif; }

h1 {
  color: #92bbcf; }

h2 {
  color: #2ecad6; }

h2, h3 {
  font-weight: 250; }

h3 {
  color: #d5ca96; }

li {
  margin-bottom: .25em; }

pre, code {
  text-align: left;
  font-family: "Monaco", monospace;
  color: #2ecad6;
  background: #F8F8F8; }

a, a:visited, a:hover, a:active {
  color: #c3c2c0; }

img {
  vertical-align: inherit; }

blockquote {
  border-left: 8px solid;
  padding-left: .5em;
  color: #d5ca96;
  text-align: left;
  margin: 1em 0; }
  blockquote > p {
    margin: 0; }

.remark-code {
  font-size: .9em; }

.remark-container {
  background: #333; }

.remark-slide-scaler {
  box-shadow: none; }

.remark-notes {
  font-size: 1.5em; }

.remark-slide-content {
  font-size: 28px;
  padding: 1em 2em;
  color: #c3c2c0;
  background-size: cover;
  background-color: #191919; }

.remark-slide-number {
  color: #c3c2c0;
  right: 1em;
  opacity: .6;
  font-size: 0.8em;
  z-index: 2; }
  .no-counter .remark-slide-number {
    display: none; }

.impact {
  background-color: #1e282f;
  vertical-align: middle;
  text-align: center; }
  .impact, .impact h1, .impact h2 {
    color: #c3c2c0; }
  .impact h1 {
    font-size: 128px; }

.full, .full h1, .full h2 {
  color: #c3c2c0; }

.fulliframe {
  height: calc(66.66667% - 1.2em);
  width: 66.66667%;
  transform: scale(1.5);
  transform-origin: 0 0;
  border: 0; }

.bottom-bar {
  background-color: #92bbcf;
  color: #c3c2c0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  padding: .8em;
  text-align: left;
  z-index: 1; }
  .bottom-bar p {
    margin: 0; }
  .impact .bottom-bar, .full .bottom-bar {
    display: none; }

.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em; }

.middle, .middle img, .middle span {
  vertical-align: middle; }

.top {
  vertical-align: top; }

.bottom {
  vertical-align: bottom; }

.inline-block p, .inline-block ul, .inline-block ol, .inline-block blockquote {
  display: inline-block;
  text-align: left; }

.no-margin, .no-margin > p, .no-margin > pre, .no-margin > ul, .no-margin > ol {
  margin: 0; }

.no-padding {
  padding: 0; }

.space-left {
  padding-left: 1em; }

.space-right {
  padding-right: 1em; }

.responsive > img {
  width: 100%;
  height: auto; }

.half > img {
  width: 55%;
  height: auto; }

.rounded-border > img {
  border-radius: 50%; }

.contain {
  background-size: contain; }

.overlay {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.5); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.primary {
  color: #92bbcf; }

.alt {
  color: #2ecad6; }

.em {
  color: #d5ca96; }

.thin {
  font-weight: 200; }

.huge {
  font-size: 2em; }

.big {
  font-size: 1.5em; }

.small {
  font-size: .8em; }

.dark-bg {
  background-color: #333; }

.alt-bg {
  background-color: #2ecad6; }

.row {
  width: 100%; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row.table {
    display: table; }
  .row.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit; }

[class^="col-"] {
  float: left; }
  [class^="col-"].inline-block {
    float: none;
    display: inline-block; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out; }
  .remark-visible .animation-fade {
    animation-name: fadeIn; }

@page {
  size: 1210px 681px;
  margin: 0; }

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important; } }

.hljs-github .remark-code {
  background-color: #0f1417;
  color: #c3c2c0; }

.remark-code .hljs-github {
  display: block;
  overflow-x: auto;
  padding: .5em; }

.remark-code .hljs-class .hljs-title {
  color: #92bbcf; }

.remark-code .hljs-tag,
.remark-code .hljs-keyword,
.remark-code .hljs-selector-tag,
.remark-code .hljs-literal,
.remark-code .hljs-strong,
.remark-code .hljs-name {
  color: #2ecad6; }

.remark-code .hljs-string,
.remark-code .hljs-bullet,
.remark-code .hljs-subst,
.remark-code .hljs-title,
.remark-code .hljs-section,
.remark-code .hljs-emphasis,
.remark-code .hljs-type,
.remark-code .hljs-built_in,
.remark-code .hljs-builtin-name,
.remark-code .hljs-selector-attr,
.remark-code .hljs-selector-pseudo,
.remark-code .hljs-addition,
.remark-code .hljs-variable,
.remark-code .hljs-template-tag,
.remark-code .hljs-template-variable {
  color: #d5ca96; }

.remark-inline-code {
  background: #333; }
